{% extends 'base.html' %}
{% load js %}

{% block extra_css %}
<style media="screen">
    .navbar {
        padding: 0 !important;
    }

    .navbar-brand{
        padding: 15px !important;
    }

    .btn-default {
        border-color: #ccc !important;
    }

    .tweet-box {
        margin: 20px 0;
        padding: 20px 20px 10px 20px;
        border: 1px solid #ccc;
        border-radius: 4px 4px 0 0;
        background-color: #f7f7f9;
    }

    .form {
        width: 100%;
        margin: 20px 0;
    }

    .form-control {
        border-radius: 0.25rem !important;
        height: 38px;
    }

    #react-app {
        margin-top: 70px;
    }
</style>
{% endblock %}


{% block body %}
    {% include 'core/navbar.html' %}

    <div class="container">
      <div id="react-app"></div>
    </div>
{% endblock %}
